package {{packageName}}.graph;

import com.alibaba.cloud.ai.graph.CompiledGraph;
import com.alibaba.cloud.ai.graph.NodeOutput;
import com.alibaba.cloud.ai.graph.OverAllState;
import org.springframework.beans.factory.annotation.Qualifier;
import org.springframework.http.MediaType;
import org.springframework.web.bind.annotation.*;
import reactor.core.publisher.Flux;

import java.util.HashMap;
import java.util.Map;

@RestController
@RequestMapping("/run")
public class GraphRunController {

    private final CompiledGraph graph;

    private static final Map<String, Object> DEFAULT_INPUTS = {{defaultInputs}};

    public GraphRunController(@Qualifier("buildGraph") CompiledGraph graph) {
        this.graph = graph;
    }

    private Map<String, Object> withDefaults(Map<String, Object> inputs) {
        Map<String, Object> merged = new HashMap<>(DEFAULT_INPUTS);
        if (inputs != null) {
            merged.putAll(inputs);
        }
        return merged;
    }

    @PostMapping(value = "/stream", produces = MediaType.TEXT_EVENT_STREAM_VALUE)
    public Flux<NodeOutput> stream(@RequestBody Map<String, Object> inputs) {
        return graph.stream(withDefaults(inputs));
    }

    @PostMapping("/invoke")
    public OverAllState invoke(@RequestBody Map<String, Object> inputs) {
        return graph.invoke(withDefaults(inputs)).orElse(null);
    }

    @PostMapping("/start")
    public Map<String, Object> startInvoke(@RequestBody Map<String, Object> inputs) {
        return graph.invoke(withDefaults(inputs)).orElseThrow().data();
    }

}
